body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#display {
    width: 94%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #29b6f6;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0288d1;
}

button.orange {
    background-color: #ff7043;
}

button.green {
    background-color: #66bb6a;
}

button.purple {
    background-color: #ab47bc;
}

button:active {
    background-color: #01579b;
}

button.apagartamanho {
    grid-column: span 3;
}
